<div class="main">

  <header *ngIf="artist">
    <h1>{{artist.name}}</h1>
    <div class="buttons">
      <h1 (click)="playSong(0)" class="btn btn-success">Play</h1>
      <h2 *ngIf="followed; else follow" class="btn btn-default" (click)="unFollowArtist()">Unfollow</h2>
      <ng-template #follow><h2 class="btn btn-default" (click)="followArtist()">Follow</h2></ng-template>
    </div>
    <h5 (click)="view = 'overview'">Overview</h5>
    <h5 (click)="view = 'related'">Related Artists</h5>
    <h5 (click)="view = 'about'">About</h5>
  </header>

  <!-- overview section with just few top tracks and few albums -->
  <div *ngIf="view == 'overview'">

    <div class="tracks topTracks" *ngIf="topTracks">
      <h1>Popular</h1>
      <app-tracks [tracks]="topTracks"></app-tracks>
    </div>

    <div class="chosen" *ngIf="albums">
      <h1>Albums</h1>
      <app-playlists  [playlists]="albums.items"></app-playlists>
    </div>
  </div>

  <div class="chosen" *ngIf="view == 'related'">
    <app-playlists  [playlists]="relatedArtists" [round]="true" (artistR)="artistR($event)"></app-playlists>
  </div>

  <div class="about" *ngIf="view == 'about'">
    <h1>Popularity: {{artist.popularity}}</h1>
    <h1 *ngIf="artist.genres.length !== 0">Ganres:</h1>
    <ul *ngFor="let genre of artist.genres">
      <li><h3>{{genre}}</h3></li>
    </ul>
    <img src={{artist.images[0].url}} />
  </div>
</div>
