.buttons {
  display: block;
}

.topTracks {
  text-align: left;
  max-width: 1050px;
  max-height: 350px;
  overflow-y: scroll;
  margin: auto;
}

.topTracks ul {
  text-align: left;
  list-style-type: none;
}

.topTracks li {
  margin-top: 50px;
}

.about {
  margin: auto;
  text-align: center;
  max-width: 1050px;
}

.about ul {
  list-style-type: none;
  text-align: left;
  margin-left: 20%;
}
