<div class="main">
  <header>
    <h5 (click)="switch = 'playlists'">Playlists</h5>
    <h5 (click)="switch = 'tracks'">Tracks</h5>
    <h5 (click)="switch = 'albums'">Albums</h5>
    <h5 (click)="switch = 'artists'">Artists</h5>
  </header>

  <div class="generalResultsSections" *ngIf="switch === 'playlists'" [@enter]>
    <h1>Playlists</h1>
    <app-playlists *ngIf="playlists" [playlists]="playlists.items"></app-playlists>
  </div>

  <div class="tracks" *ngIf="switch === 'tracks'" [@enter]>
    <h1>Tracks</h1>
    <app-tracks [tracks]="tracks.items"></app-tracks>
  </div>

  <div class="generalResultsSections" *ngIf="switch === 'albums'" [@enter]>
    <h1>Albums</h1>
    <app-playlists [playlists]="albums.items"></app-playlists>
  </div>


  <div class="generalResultsSections" *ngIf="switch === 'artists'" [@enter]>
    <h1>Artists</h1>
    <app-playlists [playlists]="artists.items" [artists]="true"></app-playlists>
  </div>

</div>
